name: Docker Build and Push

# main 브랜치에 코드가 Push 될 때마다 이 작업 지시서가 실행됩니다!
on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest # 깃허브가 빌려주는 우분투 컴퓨터에서 작업 시작

    steps:
      - name: 1. 내 깃허브 저장소 코드 가져오기
        uses: actions/checkout@v3

      - name: 2. 도커 허브 로그인하기 (아까 만든 금고 열쇠 사용)
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: 3. 도커 이미지 굽고 도커 허브로 푸시하기
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: pixelee/port-scanner:latest # 항상 최신(latest) 버전표를 달아서 올립니다